
<form style="color: #757575;" [formGroup]="LoginForm">
    <h1 style="background-color: #c7d4b542">Administration Login</h1>
    <p>Login Here:</p>
    <div class="form-row">
        <div class='col-md'>
          <div class="md-form">
            <input mdbInput type="number" class="form-control" formControlName="id" [(ngModel)]="adminDetails.userId">
            <label>Enter User-Id:</label>
            <mdb-error *ngIf="id.invalid && (id.dirty || id.touched)">Input invalid</mdb-error>
            <mdb-success *ngIf="id.valid && (id.dirty || id.touched)">Input valid</mdb-success>
          </div>
        </div>
        <div class='col-md'>
          <div class="md-form">
            <input mdbInput type="password" class="form-control" formControlName="psw" [(ngModel)]="adminDetails.password">
            <label>Enter Password:</label>
            <mdb-error *ngIf="psw.invalid && (psw.dirty || psw.touched)">Input invalid</mdb-error>
            <mdb-success *ngIf="psw.valid && (psw.dirty || psw.touched)">Input valid</mdb-success>
          </div>
        </div>
    </div>
    <div class="form-row">
      <div class="col-md">
        <div mat-dialog-actions>
          <button type="button" mdbBtn color="light" (click)='this.dialogRef.close()' mdbWavesEffect>Cancel</button>
        </div>
      </div>
      <div class="col-md">
        <div mat-dialog-actions>
          <button type="button" mdbBtn color="light" (click)='Login()' [disabled]='!LoginForm.valid' mdbWavesEffect>Login</button>
        </div>
      </div>
    </div>
    </form>
     
    
  
  
  