<div class="container-fluid">
  <div class="bg">
    <div class="row">
      <div calss='col-md'>
        <br>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      </div>
      <div class="col-12 col-md-auto">
        <button mdbBtn (click)="openDialog()" type="button" color="deep-orange" mdbWavesEffect >Register Here!</button>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        <p><b> For access Admin page please use login id as 3639 and password as qwerty. 
          Before start registration please set the size of Registration, for this you have to login in Admin Portal. Thank u.</b></p>
      </div>
    </div>     
    <div class="row">
        <div class="col-md">
          <blockquote class="blockquote bq-primary">
            <p class="bq-title">Increasing the level of participation</p>
            <p>The Internet voting system tends to maximize user participation, by allowing them to vote 
              from anywhere and allowing access from different computer systems
              and from any device that has an internet connection.
            </p>
          </blockquote>
        </div>
        <div class="col-md">
          <blockquote class="blockquote bq-primary">
            <p class="bq-title">Security</p>
              <p>Mechanisms are established to ensure that only users accredited by an official document participate, 
                so that all security guarantees are provided that equate the electronic voting 
                process with a classic electoral process.
              </p>
          </blockquote>
        </div>
        <div class="col-md">
          <blockquote class="blockquote bq-primary">
            <p class="bq-title">Accessibility</p>
              <p>
                Voting on the Internet provides a safe and private channel 
                that allows all users to participate on equal terms. Increased accessibility
                for residents abroad and for persons with difficulties in travelling or reduced mobility.
              </p>
          </blockquote>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <blockquote class="blockquote bq-primary">
            <p class="bq-title">Efficiency</p>
              <p>The reduction in organizational and implementation costs significantly 
                increases the efficiency of election management compared to traditional 
                paper voting, for example.
              </p>
          </blockquote>
        </div>
        <div class="col-md">
          <blockquote class="blockquote bq-primary">
            <p class="bq-title">Reliability</p>
              <p>The mathematical processes incorporated in Civiciti’s technology allow the participation 
                of independent observers who testify that election fraud and manipulation are avoided.
              </p>
          </blockquote>
        </div>
        <div class="col-md">
          <blockquote class="blockquote bq-primary">
            <p class="bq-title">Precision</p>
              <p>The electronic vote eliminates errors in manual count, which brings with it an accurate and 
                quick publication of results, with receipt of vote for each vote cast.
              </p>
          </blockquote>
        </div>           
      </div>
  </div>
</div>
