body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url(../../../assets/images/wood.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bq-primary {
  border-left: 3px solid #e1671f !important;
}
.bq-primary .bq-title {
  color: #f62a2a !important;
}

