<mdb-card style="background-color: #e6ffe8">
  <mdb-card-body>
    <!--Title-->
    <div class="row">
      <div class="col-md col-6 sm-padding">
    <mdb-card-title>
      <h1>Opinion Poll</h1>
    </mdb-card-title>
    <!--Text-->
    <mdb-card-text> Have a Vision? Make The Right Decison!
    </mdb-card-text>
      </div>
      <div class="col-md col-6 sm-padding">
        <div class="dimension1">
          <img src="../assets/images/SatymevJayte.jpg" class="img-fluid">
        </div>
      </div>
      <div class="col-md col-6 sm-padding">
        <div class="dimension2">
          <img src="../assets/images/indian-flag-waving-gif.gif" class="img-fluid">
        </div>
      </div>
      <div class="col-md col-6 sm-padding">
        <div class="dimension3">
          <img src="../assets/images/log-3.jpg" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="row">
      <div class=col-md>
   <marquee style="font-family: Book Antiqua;color: blue;padding-bottom: 7px;padding-top: 4px;" behavior="scroll" ><u>Approved by UGC Etd. Under Act No. 187-2014 Govt. Of India</u></marquee>
      </div>
    </div>
  </mdb-card-body>
</mdb-card>
<app-nav-bar></app-nav-bar>
<router-outlet></router-outlet>
