.card-body{
    padding: 1.0rem;
    line-height: 3px;
}
.dimension1{
	width: 15%;
    margin-left: 85%;
    margin-top: 5%;
}
.dimension2{
	width: 39%;
    margin-left: 62%;
    margin-top: 4%;
}
.dimension3{
	width: 45%;
    margin-left: 35%;
    margin-top: 0%;
}
.sm-padding{
	padding-left:5px;
	padding-right:5px;
  }