<form style="color: #757575;">
    <h2 style="background-color: #c7d4b542">Edit-Leader</h2>
    <p>Update Here:</p>
    <div class="form-row">
        <div class='col-md'>
          <div class="md-form">
            <input mdbInput type="text" class="form-control" name="ledr" [(ngModel)]="leaderdetails.ledr">
            <label>Update-Here</label>
          </div>
        </div>
    </div>
    <div class="form-row">
      <div class="col-md">
        <div mat-dialog-actions>
          <button type="button" mdbBtn color="light" (click)='saveChanges()' mdbWavesEffect>Save changes</button>
        </div>
      </div>
      <div class="col-md">
        <div mat-dialog-actions>
            <button type="button" mdbBtn color="light" (click)='Cancel()' mdbWavesEffect>Cancel</button>
        </div>
      </div>
    </div>
</form>