.btn{
    padding: .35rem 5rem;
    font-size: .81rem;
    margin: 0.375rem;
    border-radius: 0.9rem;
}
.btn-unique {
    background-color: #f4910e!important;
    color: #fff;
}
.bq-primary .bq-title {
    color: #d80000 !important;
}
.bq-primary {
    border-left: 3px solid #f9bc34 !important;
}
.blockquote {
    margin-bottom: 1rem;
    font-size: 1.04rem;
}
.custom-control {
    min-height: 1.5rem;
}

