table {
    width: 100%;
  }
  .btn{
    padding: .35rem 5rem;
    font-size: .81rem;
    margin: 0.375rem;
    border-radius: 0.9rem;
}
.btn-unique {
    background-color: #f4910e!important;
    color: #fff;
}